body {
  @extend %rubik-400;
  font-size: 16px;
  line-height: 1.3;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
  &--large {
    max-width: 1800px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  overflow: hidden;
}

.logo__img {
  display: block;
  height: 41px;
  width: 145px;
  object-fit: contain;
}

.title {
  @extend %dm_sans-700;
  font-size: 36px;
  color: #191919;
  text-align: center;
}

.default-btn {
  display: flex;
  background-color: $primary1-color;
  border-radius: 50%;
  border: 0;
  transition: transform 0.2s linear, background-color 0.2s linear, box-shadow 0.2s linear;

  svg {
    width: 20px;
    height: 20px;
    margin: auto;
    fill: $primary2-color;
    transition: fill 0.2s linear;
  }

  &:hover {
    background-color: $primary2-color;

    svg {
      fill: $primary1-color;
    }
  }

  &:focus {
    outline: transparent;
    background-color: $primary2-color;
    transform: scale(1.2);

    svg {
      fill: $primary3-color;
    }
  }

  &:active {
    background-color: $secondary1-color;
  }
}

.arrow-btn {
  height: 60px;
  width: 100%;
  position: relative;
  padding: 0 19px;
  @include flex-jc-center(space-between);
  font-size: 15px;
  @extend %rubik-500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
  
  &:hover {
    box-shadow: 0 0 20px 2px $primary2-color;
  }
  
  &:focus {
    outline: transparent;
    box-shadow: 0 0 15px 1px #377ffa;
    outline: transparent;
  }
  
  &:active {
    transform: scale(1.1);
  }
}

.link {
  border-bottom: 1px solid transparent;
  transition: border 0.2s linear, color 0.2s linear, transform 0.15s linear  ;
  
  &:hover {
    color: #a3bbc8;
  }
  
  &:focus {
    outline: transparent;
    border-bottom: 1px solid #8b4949;
  }
  
  &:active {
    transform: scale(1.2);
  }
}

.img-animation {
  transition: transform 0.3s linear;
  
  &:hover,
  &:focus,
  &:active {
    transform: scale(1.10);
  }
  
  &:focus {
    outline: transparent;
  }
}

.mix-filter {
  @extend %dm_sans-700;
  font-size: 16px;
  @include flex-jc-center(center);
  flex-wrap: wrap;
  
  &__item:not(:last-child) {
    margin-right: 6px;
  }
  
  &__btn {
    color: #8b8b8b;
    padding: 12px;
    border: 0;
    background-color: transparent;
    transition: transform 0.2s linear, color 0.2s linear;
  
    &:hover {
      color: $secondary1-color;
    }
  
    &:focus {
      outline: transparent;
      transform: scale(1.3);
      color: $secondary1-color;
    }
  
    &:active {
      color: #1a1a1a;
    }
  }
  
  &__btn.mixitup-control-active {
    color: #1a1a1a;
  }
}

.product-card {
  max-width: 270px;
  width: 100%;
  height: 380px;
  border-radius: 10px;
  filter: drop-shadow(0px 6px 25px rgba(37,37,37,0.05));
  background-color: #fefefe;
  margin: 0 15px 40px;
  padding: 30px 10px 30px;
  text-align: center;
  position: relative;
  z-index: 2;
  @extend %dm_sans-400;
  
  &:hover .product-card__btns {
      z-index: 3;
      opacity: 1;
      transform: translateY(-50px);
  }

  &__article {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  &__btns {
    transition: opacity 0.2s linear, transform 0.2s linear;
    position: absolute;
    bottom: 100px;
    z-index: 1;
    max-width: 170px;
    width: 100%;
    @include flex-jc-center(space-between);
    opacity: 0;
    z-index: 0;
  }
  
  &__btn {
    height: 45px;
    width: 45px;
    box-shadow:  0 0 4px 3px rgba(163, 187, 200, 0.55);
  
    &:hover {
      box-shadow:  0 0 7px 7px rgba(163, 187, 200, 0.55);
    }
  }
  
  &__img {
    max-height: 200px;
    max-width: 250px;
    object-fit: contain;
  }
  
  &__content {
    max-width: 200px;
    width: 100%;
    padding-top: 80px;
  }
  
  &__subtitle {
    font-size: 16px;
    @extend %dm_sans-500;
    color: $primary3-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 8px;
  }
  
  &__cost {
    display: block;
    font-size: 16px;
    @extend %dm_sans-700;
    color: $primary2-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.product-block {
  max-width: 870px;
  width: 100%;
  height: 100%;
  background-color: #feefe2;
  margin: 0 15px;
  padding: 130px 0 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  &__content {
    max-width: 360px;
    width: 100%;
  }
  
  &__title {
    @extend %dm_sans-700;
    font-size: 26px;
    color: $primary3-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  &__text {
    font-size: 16px;
    color: $primary3-color;
    line-height: 1.9;
    @include content-clipping(2);
    margin-bottom: 30px;
  }
  
  &__link {
    max-width: 180px;
    font-size: 15px;
    color: $secondary2-color;
    border-radius: 5px;
    border: 1px solid $secondary2-color;
    background-color: transparent;

    span {
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    
    svg {
      fill: $secondary2-color;
    }
  }
}

.menu {

  &__list {
    max-width: 660px;
    width: 100%;
    padding-left: 140px;
    @include flex-jc-center(space-between);
    @extend %rubik-500;
  }
  
  &__item:not(:last-child) {
    margin-right: 35px;
  }
  
  &__link {
    display: block;
    padding: 13px 0 12px;
    font-size: 15px;
    
    color: $secondary2-color;
  }
}

.user-nav {
  max-width: 320px;
  width: 100%;
  @include flex-jc-center(space-between);
  
  &__btn {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #edf1f4;
    
    &.search-btn svg {
      width: 20px;
      height: 20px;
    }
    
    &.menu-btn svg {
      height: 21px; 
    }
  }
  
  &__links {
    height: 50px;
    border-radius: 25px;
    max-width: 177px;
    width: 100%;
    @include flex-jc-center(space-around);
    background-color: $secondary1-color;
    
    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: #fde7d3;
    }
  }
  
  &__link {
    height: 44px;
    width: 50%;
    padding: 15px 2px 8px;
    display: flex;
    position: relative;
    
    &--favorite {
      padding-left: 15px;
   
      .user-nav__count {
        right: 22px;
      }
    }
   
    &--cart {
      padding-right: 15px;
   
      .user-nav__count {
        right: 33px;
      }
    }
    
    svg {
      width: 19px;
      margin: 0 auto;
      transition: transform 0.2s linear, fill 0.2s linear;
    }
    
    &:hover svg {   
      fill: $secondary2-color;
    }
    
    &:focus {
      outline: transparent;
      
      svg {
        fill: #377ffa;
        transform: scale(1.5);
      }
    }
    
    &:active svg {
      fill: red;
    }
  }
  
  svg {
    fill: $primary3-color;
  }
  
  &__count {
    padding: 0 4px;
    background-color: $primary1-color;
    position: absolute;
    top: 10px;
    border-radius: 50%;
    font-size: 10px;
    @extend %dm_sans-400;
    line-height: 1.5;
    color: $primary3-color;
    text-align: center;
  }
}

.subscribe-form {
  width: 100%;
  @include flex-jc-center(flex-start);
  @extend %dm_sans-400;
   
  &__input {
    font-size: 12px;
    color: #234969;
    border: none;
    height: 40px;
    max-width: 170px;
    width: 100%;
    padding: 10px 15px;
    background-color: #fef7f0;
  }

  &__btn {
    height: 40px;
    border: 0;
    max-width: 100px;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: $primary1-color;
    padding: 10px 15px;
    background-color: $primary2-color;
  }
}