$primary1-color: #fff;
$primary2-color: #a3bbc8;
$primary3-color: #243f4d;
$secondary1-color: #fcd7b6;
$secondary2-color: #436372;

%rubik-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%dm_sans-400 {
  font-family: "DM Sans-Regular", sans-serif;
  font-weight: 400;
}

%dm_sans-500 {
  font-family: "DM Sans-Medium", sans-serif;
  font-weight: 500;
}

%dm_sans-700 {
  font-family: "DM Sans-Bold", sans-serif;
  font-weight: 700;
}

%myriad_pro-400 {
  font-family: "DM Sans-Regular", sans-serif;
  font-weight: 400;
}

%poppins-700 {
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
}