<div class="partners-slider @@class">
  <div class="container">
    <ul class="partners-slider__list">
      <div class="partners-slider__items">
        <li class="partners-slider__item">
          <img class="partners-slider__img" src="images/partners-slider/1.png" alt="partner">
        </li>
      </div>

      <div class="partners-slider__items">
        <li class="partners-slider__item">
          <img class="partners-slider__img" src="images/partners-slider/2.png" alt="partner">
        </li>
      </div>

      <div class="partners-slider__items">
        <li class="partners-slider__item">
          <img class="partners-slider__img" src="images/partners-slider/3.png" alt="partner">
        </li>
      </div>

      <div class="partners-slider__items">
        <li class="partners-slider__item">
          <img class="partners-slider__img" src="images/partners-slider/4.png" alt="partner">
        </li>
      </div>

      <div class="partners-slider__items">
        <li class="partners-slider__item">
          <img class="partners-slider__img" src="images/partners-slider/5.png" alt="partner">
        </li>
      </div>

      <div class="partners-slider__items">
        <li class="partners-slider__item">
          <img class="partners-slider__img" src="images/partners-slider/5.png" alt="partner">
        </li>
      </div>
    </ul>
  </div>
</div>